.header
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-shadow: blue;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;

}

li {
float:inline-start;
font-size: large;
}



li a {
display: block;
color: rgb(15, 15, 15);
text-align :end;
padding: 14px 16px;
text-decoration: none;
}
p
    {
        background-image: url('Recipe1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        width: 1480px;
        font-size: x-large;
      
    }